**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.env.*
.aws

**/.github
**/.vscode
**/bin
**/k8s
**/logs
**/test
.dockerignore
.eslint*
.gitignore
compose.y*ml
Dockerfile
README.md
